/* index.html styles */

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: oklch(91.7% 0.08 205.041);
}

.recipe-img-container a {
    list-style: none;
    text-decoration: none;
}

.recipe-name {
    padding-bottom: 5px;
    display: inline;
    margin-right: 45px;
    text-align: center;
    list-style: none;
}

ul.recipe-name-container {
    /* border: 2px solid green; */
    margin: 20px auto 50px;
    width: 700px;
}

button {
    background-color: transparent;
    color: bisque;
    border: 1px solid bisque;
    padding: 10px;
    cursor: pointer;
    width: 185px;
}

button:hover {
    background-color: bisque;
    color: oklch(30.2% 0.056 229.695);;
}

.recipe-img {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
}

ul.recipe-img-container {
    /* border: 2px solid green; */
    margin: 10px auto 10px;
    width: 830px;
}

.container {
    /* border: 1px solid black; */
    margin: 40px;
    /* background-color: oklch(29.3% 0.066 243.157) */
}

h1 {
    font-size: 40px;
    /* border: 2px solid red; */
    padding: 5px 20px;
    text-align: center;
    font-weight: 800;
    color: bisque;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}

body.home {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: oklch(30.2% 0.056 229.695);
}

/* ul {
    border: 2px solid green;
    margin: -10px auto 10px;
    width: 458px;
} */

img {
    width: 250px;
    height: auto;
}


/* ./recipes styles */

.recipe-container {
    border: 3px solid darkred;
    width: 1000px;
    background-color: oklch(30.2% 0.056 229.695);
    color: white;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px auto;
}

.recipe-page-background{
    background-color: bisque;
}

h3, h2 {
    padding-left: 20px;
    font-size: 24px;
    color: bisque;
}

.return-home {
    display: block;
    margin: 30px auto;
    /* border: 1px solid wheat; */
    width: max-content;
    color: bisque;
    font-weight: 700;
}

.desc {
    padding: 0px 20px 10px 20px;
}

.image {
    display: block;
    width: max-content;
    margin: 0px auto;
    width: 350px;
}

ol.steps {
    padding: 0px 30px 10px 45px;
}